<footer class="footer">
    <div class="ui bottom fixed menu">
        <div class="ui container">
        <div class="item">
            Stephanie Thompson &copy; 2020
        </div>
        </div>
    </div>
</footer>

    </body>
</html>